@{
    ViewBag.Title = "clinic Page";
    var user = (ClinicAppointmentSystem.Models.User)Session["User"];
    var appointments = ViewBag.Appointments as List<ClinicAppointmentSystem.Models.ClinicAppointmentDetails>;
}

<h2>Welcome, Dr. @user.Firstname @user.Lastname</h2>

<p>
    Your email: @user.EmailID <br />
    Your role: @user.Role
</p>

<h3>Your Appointments</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>

            <th>Purpose</th>
            <th>Patient Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in appointments)
        {
            <tr>
                <td>@appointment.DoctorName</td>
                <td>@appointment.BookingDate.ToShortDateString()</td>
                <td>@appointment.BookingTime</td>

                <td>@appointment.PurposeOfVisit</td>
                <td>@appointment.UserName</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Logout", "Account")" class="btn btn-primary">Logout</a>
